/*--master styles--*/

.menu{
	padding:5px;
}

.menu li{
	display:inline;
	color:black;
	font-size:24px;
	margin-left:30px;
}

.menu li:hover{
	color:#FC9D56;
	transition:all .3s;
}

.menu-icon{
	margin:0px;
}

.menu-icon:hover{
	cursor:pointer;
}