/*--master styles--*/
/*importing lato font*/
@import url('https://fonts.googleapis.com/css?family=Lato');
/*importing raleway font*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

.menu{
	padding:5px;
	font-family:'Raleway', sans-serif;
}

.menu li{
	display:inline;
	color:black;
	font-size:24px;
	margin-left:30px;
	font-family:'Raleway', sans-serif;
}

.menu li:hover{
	color:#FC9D56;
	transition:all .3s;
}

.menu-icon{
	margin:0px;
}

.menu-icon:hover{
	cursor:pointer;
}

p{
	font-family:'Lato', sans-serif;
	color:#333333;
}