/*--master styles--*/
/*importing lato font*/
@import url('https://fonts.googleapis.com/css?family=Lato');
/*importing nunito font*/
@import url('https://fonts.googleapis.com/css?family=Nunito');

.menu{
	background-color:#eaeaea;
	position:fixed;
	top:0%;
	width:100%;
	font-family:'Nunito', sans-serif;
	font-weight:600;
	overflow:hidden;
	padding:5px;
}

.menu li{
	display:inline-block;
	color:black;
	font-size:24px;
	margin-left:30px;
	font-family:'Nunito', sans-serif;
	font-weight:600;
	margin-top:5px;
}

.menu li:hover{
	color:#FC9D56;
	transition:all .3s;
}

.menu-content-divider{
	height:100px;
}

.menu-icon{
	margin:0px;
	padding:0px;
	vertical-align:middle;
}

.menu-icon:hover{
	cursor:pointer;
}

p{
	font-family:'Lato', sans-serif;
	color:#333333;
}

#irb-link{
	color:#FC9D56;
	text-decoration:none;
	transition:all .3s;
}

#irb-link:hover{
	transition:all .3s;
	text-decoration:underline;
	opacity:0.8;
}

#irb-link a:visited{
	text-decoration:none;
}

#blog-button{
	text-align:center;
	font-family:'Nunito', sans-serif;
	font-weight:600;
	text-transform:uppercase;
	background-color:#FC9D56;
	font-size:18px;
	padding:20px;
	border:3px solid white;
	transition:all .3s;
}

#blog-button:hover{
	cursor:pointer;
	background-color:#333333;
	color:white;
}

.img-circle{
	border-radius:50%;
	border:3px solid #333333;
}

/*style for blog post*/
.blog-entry{
	border-left:2px solid #C3ABC3;
	padding-left:10px;
}

/*response - mobile styles*/
.sidenav{
	display:none;
}

#hamburger-nav{
	display:none;
}


@media screen and (max-width:600px){
	.menu{
		display:none;
	}

	.sidenav{
		height:100%;
		width:0;
		position:fixed;
		z-index:1;
		top:0;
		left:0;
		background-color:rgba(234,234,234,0.97);
		color:#333333;
		overflow-x: hidden;
		transition:0.5s;
		text-align:center;
		padding-top:60px;
		display:block;
	}

	.sidenav a{
		padding:8px 8px 8px 8px;
		text-decoration:none;
		font-size:25px;
		color:#333333;
		display:block;
		transition:.3s;
	}

	.sidenav a:hover{
		color:#FC9D56;
		text-decoration:underline;
	}

	.sidenav .close-button{
		position:absolute;
		top:0;
		right:25px;
		font-size:36px;
		margin-left:50px;
	}

	#hamburger-nav{
		display:block;
		position:fixed;
		top:15px;
		left:15px;
		color:white;
	}
}


